<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.SocietyFollow">


    <select id="listSocietyFollowByPage"  parameterType="com.mai.society.entity.SocietyFollow" resultType="com.mai.society.entity.SocietyFollow">
        select * from SocietyFollow
        <where>
            personID=#{personID} and exists(
            select 1 from society where SocietyFollow.societyID = society.societyID and society.status = 1
            )
        </where>
    </select>
</mapper>
