<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.Device">
    <select id="getDeviceInfoByPersonID" parameterType="java.lang.String" resultType="com.mai.device.entity.Device">
        select * from device where personID = #{personID}
    </select>
</mapper>