<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.Tag_activity_ref">
    <sql id="tag_activity_ref_column_sql">
        tagActivityRefID,activityID,tagID
    </sql>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into tag_activity_ref ( <include refid="tag_activity_ref_column_sql" /> )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.tagActivityRefID},#{item.activityID},#{item.tagID})
        </foreach>
    </insert>

    <select id="findActivitytagRefByActID" parameterType="java.lang.String"
            resultType="com.mai.activity.entity.ActivitytagRef">
        select * from tag_activity_ref where activityID = #{actid}
    </select>

    <delete id="deleteActivitytagRefByActID" parameterType="java.lang.String">
        delete from tag_activity_ref where activityID = #{actid}
    </delete>
</mapper>